[submodule "msgraph-sdk-dotnet-core"]
	path = msgraph-sdk-dotnet-core
	url = https://github.com/microsoftgraph/msgraph-sdk-dotnet-core.git
[submodule "kiota"]
	path = kiota
	url = https://github.com/microsoft/kiota.git
